{% extends "base.html" %}
{% block content %}
    
<p class="text-primary font-weight-bold" style="font-size:18px;">Process Status Dashboard</p>   

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#initsync">InitSync Processes</a></li>
  <li><a data-toggle="tab" href="#cdc">CDC Processes</a></li>
</ul>

<div class="tab-content">
  <div id="initsync" class="tab-pane fade in active">

 <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden-xs">RunID</th>
        <th>Profile</th>
        <th>Process</th>
        <th>Progress</th>
        <th class="hidden-xs text-right">trans/sec</th>
        <th class="hidden-xs">Start Time</th>
        <th class="hidden-xs">End Time</th>
                        
      </tr>
    </thead>
    <tbody>
	{% for process in initsync_processes %}
        {% if process.total_count > 0 %}
           {% set progress = (process.total/process.total_count*100)|round|int %}
           {% else %}
           {% set progress = 0 %}
           {% endif %}
       {% if process.duration  and (process.duration|round|int) > 0 and process.total > 0 %}
           {% set performance = (process.total/(process.duration|round|int))|round|int %}
           {% else %}
           {% set performance = 0 %}
           {% endif %}
        <tr>
           <td class="col-md-1 hidden-xs"><a href="/processdetails/{{ process.id|safe }}">{{ process.id|safe }}</a></td> 
           
           <td class="col-md-1 col-xs-3">{{ process.profile_name|safe|trim }}-{{ process.profile_version|safe|trim }}</td> 
           
           <td class="col-md-1 col-xs-3">{{ process.process_code|safe }}</td>  
           
           <td class="col-md-4 col-xs-6">
           {%if process.status == 'IN_PROGRESS' %} 
              <div class="progress">
                 <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
              </div>
               
           {% elif process.status == 'SUCCESS' %}
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Completed</div>
              </div>
               
           {% elif process.status == 'WARNING' %}
              <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">WARNING</div>
              </div>
           {% else %}
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">ERROR</div>
              </div>  
           {% endif %}
           </td> 
           
           <td class="col-md-1 hidden-xs text-right">{{ performance|safe }}</td> 
          <td class="col-md-2 hidden-xs text-nowrap">{%if process.process_starttime %}{{ process.process_starttime.strftime('%Y-%m-%d %H:%M:%S')|safe }} {% else %}&nbsp;{% endif %}</td> 
           <td class="col-md-2 hidden-xs text-nowrap">{%if process.process_endtime %}{{ process.process_endtime.strftime('%Y-%m-%d %H:%M:%S')|safe }} {% else %}&nbsp;{% endif %}</td>            
        </tr>
        {% endfor %}
     </tbody>
  </table>
  



  </div>
  <div id="cdc" class="tab-pane fade">

 <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden-xs">RunID</th>
        <th>Profile</th>
        <th>Process</th>
        <th>Progress</th>
        <th class="hidden-xs text-right">trans/sec</th>
        <th class="hidden-xs">Start Time</th>
        <th class="hidden-xs">End Time</th>
                        
      </tr>
    </thead>
    <tbody>
	{% for process in cdc_processes %}
        {% if process.total_count > 0 %}
           {% set progress = (process.total/process.total_count*100)|round|int %}
           {% else %}
           {% set progress = 0 %}
           {% endif %}
       {% if process.duration  and (process.duration|round|int) > 0 and process.total > 0 %}
           {% set performance = (process.total/(process.duration|round|int))|round|int %}
           {% else %}
           {% set performance = 0 %}
           {% endif %}
        <tr>
           <td class="col-md-1 hidden-xs"><a href="/processdetails/{{ process.id|safe }}">{{ process.id|safe }}</a></td> 
           
           <td class="col-md-1 col-xs-3">{{ process.profile_name|safe|trim }}-{{ process.profile_version|safe|trim }}</td> 
           
           <td class="col-md-1 col-xs-3">{{ process.process_code|safe }}</td>  
           
           <td class="col-md-4 col-xs-6">
           {%if process.status == 'IN_PROGRESS' %} 
              <div class="progress">
                 <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
              </div>
               
           {% elif process.status == 'SUCCESS' %}
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Completed</div>
              </div>
           {% elif process.status == 'WARNING' %}
              <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">WARNING</div>
              </div>
           {% else %}
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">ERROR</div>
              </div>  
           {% endif %}
           </td> 
           
           <td class="col-md-1 hidden-xs text-right">{{ performance|safe }}</td> 
          <td class="col-md-2 hidden-xs text-nowrap">{%if process.process_starttime %}{{ process.process_starttime.strftime('%Y-%m-%d %H:%M:%S')|safe }} {% else %}&nbsp;{% endif %}</td> 
           <td class="col-md-2 hidden-xs text-nowrap">{%if process.process_endtime %}{{ process.process_endtime.strftime('%Y-%m-%d %H:%M:%S')|safe }} {% else %}&nbsp;{% endif %}</td>            
        </tr>
        {% endfor %}
     </tbody>
  </table>


  </div>
</div>
   
{% endblock %}
