{% extends "base.html" %}
{% block content %}
    
<p class="text-primary font-weight-bold" style="font-size:18px;">Schedule a Job for profile {{ profile.profile_name|safe|trim }}-{{ profile.version|safe }}</p>    


<form action"." method="POST">


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Recurring Scheduling</h3>
      </div>
      <div class="panel-body">

        <div class="form-group ">
          <label for="run_days" class="col-form-label">Run on Days</label>
            <input class="form-control" type="text" placeholder="mon,tue,wed,thu,fri,sat,sun" name="run_days" id="run_days">
        </div>
        <div class="form-group ">
          <label for="run_hours" class="col-form-label">Run Hours</label>
            <input class="form-control" type="text" placeholder="00-23" name="run_hours" id="run_hours">
        </div>
        <div class="form-group ">
          <label for="run_minutes" class="col-form-label">Run Minutes</label>
            <input class="form-control" type="text" placeholder="00,15,30,45" name="run_minutes" id="run_minutes">
        </div>
        
      </div>
    </div>

    
<button type="submit" class="btn btn-primary" name="search-form" >Submit</button>
<input TYPE="button" class="btn btn-primary" VALUE="Cancel"
        onclick="window.history.back();"/>         
</div>

</form>  

 
{% endblock %}
